﻿.glyphicon.glyphicon-sort-by-attributes, .glyphicon.glyphicon-sort-by-attributes-alt {
    margin-right: 7px;
}

.glyphicon.glyphicon-sort-by-attributes {
    color: green;
}

.glyphicon.glyphicon-sort-by-attributes-alt {
    color: red;
}
table.beegrid th
{
    cursor:pointer;
    text-transform:capitalize
}

table.beegrid>tbody>tr>td>span.glyphicon.glyphicon-trash
{
    cursor:pointer
}
table.beegrid>tbody>tr>td>span.glyphicon.glyphicon-trash:hover
{
    color:red
}